%h1="Nouvelle rubrique pour #{@newsletter_rubric.newsletter.name}"
=simple_fields_for @newsletter_rubric do |f|
  =f.association :newsletter, :as => :hidden
  =f.input :name
  =f.input :article_style, :input_html => {:rows => 7, :cols => 80}
