%h1="Nouvelle rubrique pour #{@newsletter_rubric.newsletter.name}"
=simple_fields_for @newsletter_rubric do |f|
  =f.association :newsletter, :as => :hidden
  =f.input :name
  =f.input :color, :input_html => {:rows => 2, :cols => 80}
  =f.input :border, :input_html => {:rows => 2, :cols => 80}
