!!!
%html
  %head
    %title=textize(@communication.title)
    %style=@communication.style
  %body
    #page
      #header
        %h1=beautify(@communication.title)
      -unless @communication.introduction.blank?
        #introduction=beautify(@communication.introduction)
      -if @communication.articles.size > 0
        #articles
          -for article in @communication.articles
            .article{:class => "article-#{article.rubric_id}"}
              %h2=beautify(article.title)
              .content=beautify(article.content)
      -unless @communication.conclusion.blank?
        #conclusion=beautify(@communication.conclusion)
      -unless @communication.footer.blank?
        #footer=beautify(@communication.footer)
