!!!
%html{:style => "background: #EEE"}
  %body
    .page{:style => "width: 750px; margin: 8px auto;"}
      -link_style = "text-align: center; margin: 8px auto; display: block; border: none; font-size: 11px; "
      %a{:style => link_style, :href => ""}="Cliquez-ici si le message est illisible"
      %a{:style => link_style}=image_tag attachments[@communication.flyer.original_filename].url
      %a{:style => link_style, :href => ""}="Se désinscrire"
