%h2=Communication.beautify_for_html(article.title).html_safe
.content=Communication.beautify_for_html(article.content).html_safe
-unless article.readmore_url.blank?
  .readmore=link_to("Lire la suite...", article.readmore_url)
.toolbar
  =link_to("Éditer", edit_article_url(article))
  =link_to("Supprimer", article_url(article), :method => "delete", :confirm => "Sure ?")
  =link_to("Monter", up_article_url(article), :method => :post)
  =link_to("Descendre", down_article_url(article), :method => :post)
