-page_title(@newsletter.new_record? ? "Nouvelle newsletter" : "Modification de la newsletter")

=simple_fields_for @newsletter do |f|
  -if current_user.administrator?
    =f.association :client
  =f.input :name
  =f.input :ecofax_number
  =f.input :ecofax_password, :as => :string
  =f.input :with_pdf
  =f.input :header
  =f.input :introduction, :input_html => {:rows => 3, :cols => 80}
  =f.input :conclusion, :input_html => {:rows => 3, :cols => 80}
  =f.input :footer, :input_html => {:rows => 3, :cols => 80}
  =f.input :global_style, :input_html => {:rows => @newsletter.global_style.to_s.split(/\n/).size + 1, :cols => 80}
  =f.input :page_margins
  =f.input :print_style, :input_html => {:rows => @newsletter.print_style.to_s.split(/\n/).size + 1, :cols => 80}
