%h1=@newsletter.name
-if @newsletter.header.file?
  =image_tag(@newsletter.header.url(:web))
.toolbar
  =link_to "Retour", user_url(@newsletter.client)
  =link_to "Modifier", edit_newsletter_url(@newsletter)

%h2 Rubriques
.toolbar
  =link_to "Ajouter une rubrique", new_newsletter_rubric_url(:newsletter_id => @newsletter.id)
=list :rubrics

%h2 Lettres
.toolbar
  =link_to "Nouvelle lettre", new_communication_url(:newsletter_id => @newsletter.id)
=list :communications
