-page_title "Pièce jointe pour #{@piece.communication.name}"
=simple_fields_for @piece do |f|
  =f.input :name, :input_html => {:class => "large"}
  =f.input :document
  =f.association :communication, :as => :hidden
  =f.association :article, :as => :hidden
