%table.table.table-striped.table-bordered
  %tr
    %th Description
    %th Lancé le
    %th Quantité
    %th Avancement
    %th Mail
  -for shipment in @communication.shipments
    -shipment.reload
    %tr
      %td=shipment.description
      %td=(shipment.started_at ? shipment.started_at.l : "&mdash;".html_safe)
      %td.dec=shipment.total
      %td
        -activeness = (shipment.sending? ? {:class => 'active'} : shipment.done? ? {:class => "progress-success"} : {})
        .progress.progress-striped{activeness}
          .bar{:style => "width: #{shipment.progress}%;"}
      %td
        -if shipment.mail.file?
          =link_to(shipment.mail.url) do
            %i.icon-file
=h("Dernière mise à jour : ") + Time.now.l

-if Delayed::Job.count > 0
  .current=link_to("labels.x_current_jobs".t(:count => Delayed::Job.count), delayed_jobs_url(:redirect => request.path))
