%h1
  =@communication.name

.toolbar
  =link_to("Retour", communication_url(@communication))

%h2="labels.x_errors".t(:count => @errors.size)
-for error in @errors
  %h3
    =error.class.name+" :"
    %em=error.message
  %pre=error.backtrace.join("\n")




