-title = ""
-title << @communication.newsletter.name+"&nbsp;: ".html_safe if @communication.newsletter
-title << @communication.name
-title <<" [Distribué]" if @communication.distributed?
-title = title.html_safe
-content_for(:title, title)
%h1=title
.toolbar
  =link_to("Retour", user_url(@communication.client))
  =link_to("Modifier", edit_communication_url(@communication))
  -if @communication.testables.count > 0
    =link_to("Effectuer un test", distribute_communication_url(@communication), :method => :post)
  -unless @communication.distributed?
    =link_to("Importer les e-mails", populate_communication_url(@communication))    
    =link_to("Supprimer les e-mails", clear_communication_url(@communication), :method => :delete, "data-confirm" => "Sûr ?")
  -if @communication.distributable?
    =link_to("Effectuer l'envoi pour les non-envoyés", distribute_communication_url(@communication, :mode => "unsent"), :method => :post, "data-confirm" => "Sûr(e) ?")
    =link_to("Effectuer l'envoi", distribute_communication_url(@communication, :mode => "real"), :method => :post, "data-confirm" => "Sûr(e) ?")
  =link_to("Voir la page", message_url(@communication.key), :target => "_blank")
  =link_to("Voir le PDF", communication_url(@communication, :format => :pdf), :target => "_blank")
%h2 Détails

-fields = [:name, :planned_on, :sender_email, :sender_label, :reply_to_email]
-if @communication.newsletter
  -fields += [:introduction, :conclusion]
-else
  -fields += [:message, :unreadable_label, :unsubscribe_label, :message_label, :subject, :target_url, :key]
-for x in fields
  .field.input
    %label=Communication.human_attribute_name(x)
    %span=@communication.send(x)
-if @communication.newsletter
  %h2 
    Newsletter
    -if current_user.administrator
      =link_to(@communication.newsletter.name, edit_newsletter_url(@communication.newsletter))
  .toolbar
    =link_to("Ajouter un article", new_article_url(:communication_id => @communication.id))
  =render :partial => "articles/article", :collection => @communication.articles
-else
  %h2 Flyer
  =image_tag(@communication.flyer.url(:web))

%h2 Cibles
=list :touchables
