-title = ""
-title << @communication.newsletter.name+"&nbsp;: ".html_safe if @communication.newsletter
-title << @communication.name
-title <<" [Distribué]" if @communication.distributed?
-title = title.html_safe
-content_for(:title, title)
%h1=title
=toolbar do
  =tool("Retour", user_url(@communication.client))
  =tool("Modifier", edit_communication_url(@communication))
  -unless @communication.distributed?
    =tool("Importer les cibles", populate_communication_url(@communication))    
    =tool("Supprimer les cibles", clear_communication_url(@communication), :method => :delete, "data-confirm" => "Sûr ?")
  -unless @communication.newsletter
    =tool("Voir la page", message_url(@communication.key), :target => "_blank")
  =tool("Voir le PDF", communication_url(@communication, :format => :pdf))
=toolbar do
  -if @communication.testables.count > 0
    =tool("Test e-mail", distribute_communication_url(@communication, :only => :email), :method => :post)
    =tool("Test fax", distribute_communication_url(@communication, :only => :fax), :method => :post)
    =tool("Test complet", distribute_communication_url(@communication), :method => :post)
  -if @communication.distributable?
    -#=tool("Effectuer l'envoi pour les non-envoyés", distribute_communication_url(@communication, :mode => "unsent"), :method => :post, "data-confirm" => "Sûr(e) ?")
    =tool("Envoi e-mail", distribute_communication_url(@communication, :mode => "real", :only => :email), :method => :post, "data-confirm" => "Sûr(e) ?")
    =tool("Envoi fax", distribute_communication_url(@communication, :mode => "real", :only => :fax), :method => :post, "data-confirm" => "Sûr(e) ?")
    =tool("Envoi complet", distribute_communication_url(@communication, :mode => "real"), :method => :post, "data-confirm" => "Sûr(e) ?")


-if @communication.newsletter
  %h2 
    Newsletter
    -if current_user.administrator
      =link_to(@communication.newsletter.name, edit_newsletter_url(@communication.newsletter))
    =toolbar do
      =tool("Ajouter un article", new_article_url(:communication_id => @communication.id), :icon => "plus")
  .newsletter
    -if @communication.header.file?
      =image_tag(@communication.header.url(:web), :class => "nl-header")
    %h1=@communication.interpolate(@communication.title)
    .introduction=beautify(@communication.introduction)
    .articles=render :partial => "articles/article", :collection => @communication.articles
    .conclusion=beautify(@communication.conclusion)
    .footer=beautify(@communication.footer)
-else
  %h2 Flyer
  =image_tag(@communication.flyer.url(:web))


%h2 Détails
-fields = [:name, :planned_on, :sender_email, :sender_label, :reply_to_email, :subject, :target_url]
-if @communication.newsletter
  -fields += [:title, :introduction, :conclusion]
-else
  -fields += [:message, :unreadable_label, :unsubscribe_label, :message_label]
%table.details
  -for x in fields
    %tr.field.input
      %td.less=Communication.human_attribute_name(x)
      %td.span=beautify(@communication.send(x).to_s)



-if @communication.touchables.count > 0
  %h2 Cibles
  =list :touchables
