/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require active-list
 *= require_self
 *= require_tree .
 */

@import "compass/reset";
@import "compass";

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700,700italic,400italic);


$base-color: #384;

$fs-normal: 14px;
$font-size-coeff: 1.4;
$fs-small: round($fs-normal / $font-size-coeff);
$fs-large: round($fs-normal * $font-size-coeff);
$fs-huge:  round($fs-large  * $font-size-coeff);

/*$sansFontFamily: 'Open Sans', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;*/

@import "bootstrap";
@import "bootstrap-responsive";

.btn-toolbar { @include inline-block; }
.btn-group { @include inline-block; }

/*
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { 
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  font-size: $fs-normal;
}
*/



html { 
  height: 100%; 
  @include background(#DDD);
  body { padding: 1px }
  &.prospectus { 
    @include background(white);
  }
}

.newsletter { 
  margin: $fs-normal auto;
  padding: $fs-normal;
  width: 720px;
  @include box-shadow(0 0 $fs-normal rgba(#000, 0.2));
  .nl-header { width: 100%; height: auto; }
  .introduction, .articles, .conclusion, .footer { 
    margin-top: $fs-normal;
  }
  .footer { text-align: center; }
  table { 
    @extend .table;
    @extend .table-bordered;
    @extend .table-striped;
  }
  .thumbnail {
    margin-right: round($fs-normal/2); 
    margin-bottom: round($fs-normal/2); 
  }
}

input.large { 
  font-size: $fs-large;
  $height: round($fs-large * 1.4);
  line-height: $height;             
  height: $height;
  width: 100%;
  font-weight: bold;
}

#page { 
  background: #EEE;
  @include border-radius(3px);
  padding: 0.7em 1em 1em; 
  max-width: 980px;
  margin: $fs-normal auto;
  border-top: none;
  h1 { 
/*    font-size: $fs-huge; 
    margin: 0 0 0.5em 0; 
    font-weight: bold;*/
    html.prospectus & { 
      color: #555;
    }
  }
  h2 { 
    &, & * { 
      font-size: $fs-large; 
      font-weight: bold;
    }
    margin: 0.2em 0 0.4em 0; 
    border-bottom: 1px solid #DDD;
  }
  p.info { 
    font-style: italic;
  }
  html.prospectus & { 
    background: none;
    text-align: center;
    padding: 1em;
    a.main { 
      display: block;
      text-align: center;
      padding: 1em;
    }
  }
}

#home { 
  text-align: center;
  font-size: 200px;
  line-height: 240px;
  height: 240px;
  letter-spacing: -0.1em;
  @include text-shadow(-1px -1px 1px #FFF);
  margin: 0.2em auto 0.3em;
  font-weight: bold;
  color: transparentize($base-color, 0.2);
 }

.active-list { 
  margin: 8px 0;
  &:last-child { 
    margin-bottom: 0;
  }
}


.toolbar { 
  background: rgba(#FFF, 0.2);
  padding: 1px;
  margin: 8px 0;
  &:last-child { 
    margin-bottom: 0;
  }
  a { 
    padding: 4px 6px;
    @include inline-block;
    &:hover { 
      background: rgba(#FFF, 0.2);
    }
  }
}

.input {
  & > label { 
    width: 160px; 
    @include inline-block;
    text-align: right;
    padding: 2px 6px;
  }
}

fieldset { 
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 8px 0 0;
  legend { 
    @include text-shadow(0 0 2px rgba(#FFF,0.5));
    font-size: $fs-large;
  }
}

pre { 
  padding: 1ex 0;
  font-size: $fs-small;
  font-family: monospace;
  overflow: auto;
}

.checkbox-false, .checkbox-true { 
  @include inline-block;
  width: 12px;
  height: 12px;
  @include background(linear-gradient(top, rgba(#FFF,0.8), rgba(#FFF,0.05)));
  @include box-shadow(0 0 5px rgba(#000, 0.3));
  @include border-radius(6px);
  opacity: 0.8;
}

.checkbox-false { 
  background-color: red;
}

.checkbox-true { 
  background-color: green;
}


textarea { 
  width: 100%;
  resize: vertical;
  font-family: monospace;
}


table.details { 
  width: 100%;
  td { padding: 3px; }
}